# .NET
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.db
*.db-shm
*.db-wal

# Node / Expo
node_modules/
.expo/
dist/
web-build/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
*.aab
*.apk

# Environment
.env
.env.*

# IDE
.idea/
.vscode/
